@import '/src/app/styles/colors';

.grid-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.grid-item {
  background-color: $light-gray-color;
  border: 1px solid $gray-color;
}
